<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FoodX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FoodX.My.MySettings>
      <setting name="dbUsername" serializeAs="String">
        <value>innovnli_admin</value>
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value>namecheap</value>
      </setting>
      <setting name="pfBoundHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="pfBoundPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="pfRemotePort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="SSHAddress" serializeAs="String">
        <value>198.54.126.75</value>
      </setting>
      <setting name="SSHPort" serializeAs="String">
        <value>21098</value>
      </setting>
      <setting name="SSHUsername" serializeAs="String">
        <value>innovnli</value>
      </setting>
      <setting name="SSHPassword" serializeAs="String">
        <value>No:211626a!</value>
      </setting>
      <setting name="pfRemoteHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="mysqlAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="mysqlPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="scannerPort" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="emailAddress" serializeAs="String">
        <value>william-eddy@outlook.com</value>
      </setting>
      <setting name="emailHTMLFilePath" serializeAs="String">
        <value>D:\FoodTrackV1\Emails\</value>
      </setting>
      <setting name="age" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="heightFeet" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="heightInches" serializeAs="String">
        <value>8</value>
      </setting>
    </FoodX.My.MySettings>
  </userSettings>
</configuration>